@model IEnumerable<ZooDAL.Entities.Animal>

@{
    ViewData["Title"] = "Catalog";
}

<h1 class="text-center">Catalog</h1>

<p>
    <form method="post" asp-action="GetByCategory">
    <select onchange="this.form.submit()" name="categoryId" asp-items="@ViewBag.Categories" >
        <option>All Categories</option>
    </select>
       @*  <input type="submit" value="Filter" /> *@
    </form>
</p>
<hr />


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 card-group">

@foreach (var item in Model) {

      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="~/Uploads/@item.ImagePath" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-text"><b>Name:</b> @item.Name</h5>
            <p class="card-text">@item.Description</p>
            <a href="@Url.Action("Details", new { id=item.Id })" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div> 
}

</div>